# Ejercicios de Pandas 

<img src="../images/pandas_animal.jpg">

In [1]:
! pip install pandas

Requirement already satisfied: pandas in /home/alicia/workspace/intro_ml_python/venv/lib/python3.6/site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in /home/alicia/workspace/intro_ml_python/venv/lib/python3.6/site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in /home/alicia/workspace/intro_ml_python/venv/lib/python3.6/site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/alicia/workspace/intro_ml_python/venv/lib/python3.6/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /home/alicia/workspace/intro_ml_python/venv/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
import numpy as np
import pandas as pd

## Estructuras de datos

### Series
- Las series son una matriz etiquetada unidimensional capaz de contener cualquier tipo de datos (enteros, cadenas, números de punto flotante, objetos de Python, etc.)
- Las etiquetas de los ejes se denominan colectivamente índice.

El método básico para crear una serie es llamar a:
```
s = pd.Series (datos, índice = índice) 
```
Aquí, los datos pueden ser muchas cosas diferentes: 
    - un dict de Python 
    - un ndarray 
    - un valor escalar (como 5) 

El índice pasado es una lista de etiquetas de eje.

#### Series desde un np.array

In [3]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -2.177658
b    0.410443
c    0.189463
d    0.079384
e   -0.809113
dtype: float64

In [4]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

Si no indicamos nada en los índices, por defecto se creará una secuencia numérica

In [5]:
pd.Series(np.random.randn(5))

0   -1.884961
1    0.407433
2   -0.429196
3    0.092743
4   -0.019553
dtype: float64

#### Series desde un diccionario

In [6]:
d = {'b': 1, 'a': 0, 'c': 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

#### Series desde un valor escalar

In [7]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

#### Usos de las series
Se pueden usar como un array:

In [8]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [9]:
s[0: 3]

a   -0.693967
b   -0.737065
c    0.284261
dtype: float64

In [10]:
s[s > s.median()]

c    0.284261
d    0.127623
dtype: float64

In [1]:
s.to_numpy()

NameError: name 's' is not defined

O como un diccionario:

In [12]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.172030
b    0.032071
c    1.146309
d   -0.572008
e   -0.823704
dtype: float64

In [13]:
s['e'] = 12
s

a     0.172030
b     0.032071
c     1.146309
d    -0.572008
e    12.000000
dtype: float64

## DataFrames

- Es una estructura de datos bidimensional etiquetada con columnas de tipos potencialmente diferentes. 
- Se puede considerar como una hoja de cálculo o una tabla SQL. 
- Generalmente es el objeto pandas más utilizado.
- Al igual que Series, DataFrame acepta muchos tipos diferentes de entrada: diccionario de arrays de 1D, listas, dicts, series u otros DataFrame
- Junto con los datos, opcionalmente puede pasar el índice (etiquetas de fila) y los nombres de las columnas. 
- Si no se pasan las etiquetas de los ejes, se construirán a partir de los datos de entrada basados en reglas propias.

#### DataFrames desde diccionarios de Series o diccionarios normales

In [4]:
import pandas as pd
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [15]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [16]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

#### DataFrames desde diccionarios de ndarrays / lists

In [17]:
d = {'one': [1., 2., 3., 4.],
     'two': [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [18]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [9]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

                   A         B         C         D
2013-01-01  3.048759 -1.004755  0.116400  0.204949
2013-01-02 -0.356310 -0.907572  1.311130  0.367429
2013-01-03 -0.738950  1.894724  0.254412 -0.978867
2013-01-04 -0.847138 -1.231584 -2.411857 -1.028845
2013-01-05 -1.308544 -0.518425  1.380052  1.834802
2013-01-06  0.287520 -0.393126 -1.833400 -3.019025

In [21]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [22]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

#### DataFrames desde listas de diccionarios

In [23]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

#### DataFrames desde diccionarios de tuplas (multiindex!)

In [5]:
print(pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
              ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
              ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
              ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
              ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})
     )

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

### Visualización de los datos

In [10]:
import numpy as np
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.029754  0.294126 -1.430991  0.756568
2013-01-02  1.026371  0.833132 -1.983932  1.025926
2013-01-03  0.102475  1.258810  1.552285  1.129520
2013-01-04  0.167908  1.742101  1.521808 -0.937538
2013-01-05  0.583833 -0.167519 -0.684248  0.535120
2013-01-06 -0.477886 -2.320652  0.492087  1.296183

In [11]:
df.head(10)

                   A         B         C         D
2013-01-01 -0.029754  0.294126 -1.430991  0.756568
2013-01-02  1.026371  0.833132 -1.983932  1.025926
2013-01-03  0.102475  1.258810  1.552285  1.129520
2013-01-04  0.167908  1.742101  1.521808 -0.937538
2013-01-05  0.583833 -0.167519 -0.684248  0.535120
2013-01-06 -0.477886 -2.320652  0.492087  1.296183

In [28]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

In [29]:
df.to_numpy()

array([[-0.14698769, -1.47549809, -0.11486956, -1.34738148],
       [-1.79423814,  0.03775277,  1.45592999, -1.79138196],
       [ 0.14385901,  1.28488802, -0.40113813,  0.01057139],
       [-0.20634407,  1.04523894, -0.64131626, -0.9030174 ],
       [ 1.02903254, -0.39051921, -1.30247382,  2.1111356 ],
       [-0.24464354,  0.84559167,  0.61794139,  0.05970152]])

In [30]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [31]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.203220  0.224576 -0.064321 -0.310062
std    0.913798  1.047560  0.975561  1.394537
min   -1.794238 -1.475498 -1.302474 -1.791382
25%   -0.235069 -0.283451 -0.581272 -1.236290
50%   -0.176666  0.441672 -0.258004 -0.446223
75%    0.071147  0.995327  0.434739  0.047419
max    1.029033  1.284888  1.455930  2.111136

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [63]:
print(f'{df}\n\n')
df.T

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.146988   -1.794238    0.143859   -0.206344    1.029033   -0.244644
B   -1.475498    0.037753    1.284888    1.045239   -0.390519    0.845592
C   -0.114870    1.455930   -0.401138   -0.641316   -1.302474    0.617941
D   -1.347381   -1.791382    0.010571   -0.903017    2.111136    0.059702

In [62]:
print(f'{df}\n\n')

df.sort_index(axis=1, ascending=False)

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   D         C         B         A
2013-01-01 -1.347381 -0.114870 -1.475498 -0.146988
2013-01-02 -1.791382  1.455930  0.037753 -1.794238
2013-01-03  0.010571 -0.401138  1.284888  0.143859
2013-01-04 -0.903017 -0.641316  1.045239 -0.206344
2013-01-05  2.111136 -1.302474 -0.390519  1.029033
2013-01-06  0.059702  0.617941  0.845592 -0.244644

In [61]:
print(f'{df}\n\n')
df.sort_values(by='B')

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-06 -0.244644  0.845592  0.617941  0.059702
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-03  0.143859  1.284888 -0.401138  0.010571

Si seleccionamos una columna, nos va a devolver una Serie:

In [64]:
print(f'{df}\n\n')
df['A']

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

2013-01-01   -0.146988
2013-01-02   -1.794238
2013-01-03    0.143859
2013-01-04   -0.206344
2013-01-05    1.029033
2013-01-06   -0.244644
Freq: D, Name: A, dtype: float64

Si seleccionamos elementos a través de [], nos devolverá las filas:

In [65]:
print(f'{df}\n\n')
df[1:3]

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B         C         D
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571

In [66]:
print(f'{df}\n\n')
df['20130102':'20130104']

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B         C         D
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017

### Filtrado

#### Selección por etiqueta

In [67]:
print(f'{df}\n\n')
print(df.loc[dates[0]])

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702


A   -0.146988
B   -1.475498
C   -0.114870
D   -1.347381
Name: 2013-01-01 00:00:00, dtype: float64

In [68]:
print(f'{df}\n\n')
print(df.loc[:, ['A', 'B']])

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702


                   A         B
2013-01-01 -0.146988 -1.475498
2013-01-02 -1.794238  0.037753
2013-01-03  0.143859  1.284888
2013-01-04 -0.206344  1.045239
2013-01-05  1.029033 -0.390519
2013-01-06 -0.244644  0.845592

In [69]:
print(f'{df}\n\n')
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B
2013-01-02 -1.794238  0.037753
2013-01-03  0.143859  1.284888
2013-01-04 -0.206344  1.045239

In [70]:
print(f'{df}\n\n')
df.at[dates[0], 'A']

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

-0.14698768898630427

#### Selección por posición

In [71]:
print(f'{df}\n\n')
df.iloc[3]

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

A   -0.206344
B    1.045239
C   -0.641316
D   -0.903017
Name: 2013-01-04 00:00:00, dtype: float64

In [72]:
print(f'{df}\n\n')
df.iloc[3:5, 0:2]

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B
2013-01-04 -0.206344  1.045239
2013-01-05  1.029033 -0.390519

In [73]:
print(f'{df}\n\n')
df.iloc[[1, 2, 4], [0, 2]]

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         C
2013-01-02 -1.794238  1.455930
2013-01-03  0.143859 -0.401138
2013-01-05  1.029033 -1.302474

In [74]:
print(f'{df}\n\n')
df.iat[1, 1]

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

0.03775276553916763

#### Selección por condición (boolean indexing)

In [76]:
print(f'{df}\n\n')
df[df.A > 0]

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B         C         D
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-05  1.029033 -0.390519 -1.302474  2.111136

In [77]:
print(f'{df}\n\n')
df[df > 0]

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN  0.037753  1.455930       NaN
2013-01-03  0.143859  1.284888       NaN  0.010571
2013-01-04       NaN  1.045239       NaN       NaN
2013-01-05  1.029033       NaN       NaN  2.111136
2013-01-06       NaN  0.845592  0.617941  0.059702

Podemos usar el operador isin() para filtrar de una lista de valores

In [78]:
print(f'{df}\n\n')
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B         C         D      E
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381    one
2013-01-02 -1.794238  0.037753  1.455930 -1.791382    one
2013-01-03  0.143859  1.284888 -0.401138  0.010571    two
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017  three
2013-01-05  1.029033 -0.390519 -1.302474  2.111136   four
2013-01-06 -0.244644  0.845592  0.617941  0.059702  three

In [79]:
print(f'{df}\n\n')
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B         C         D     E
2013-01-03  0.143859  1.284888 -0.401138  0.010571   two
2013-01-05  1.029033 -0.390519 -1.302474  2.111136  four

### Operaciones básicas

In [80]:
print(f'{df}\n\n')
df.mean()

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

A   -0.203220
B    0.224576
C   -0.064321
D   -0.310062
dtype: float64

In [81]:
df.mean(1)

2013-01-01   -0.771184
2013-01-02   -0.522984
2013-01-03    0.259545
2013-01-04   -0.176360
2013-01-05    0.361794
2013-01-06    0.319648
Freq: D, dtype: float64

In [85]:
# Return the cumulative sum of the elements along a given axis

print(f'{df}\n\n')
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.794238  0.037753  1.455930 -1.791382
2013-01-03  0.143859  1.284888 -0.401138  0.010571
2013-01-04 -0.206344  1.045239 -0.641316 -0.903017
2013-01-05  1.029033 -0.390519 -1.302474  2.111136
2013-01-06 -0.244644  0.845592  0.617941  0.059702

                   A         B         C         D
2013-01-01 -0.146988 -1.475498 -0.114870 -1.347381
2013-01-02 -1.941226 -1.437745  1.341060 -3.138763
2013-01-03 -1.797367 -0.152857  0.939922 -3.128192
2013-01-04 -2.003711  0.892382  0.298606 -4.031209
2013-01-05 -0.974678  0.501862 -1.003868 -1.920074
2013-01-06 -1.219322  1.347454 -0.385926 -1.860372

#### Histogramas

In [83]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    5
1    1
2    3
3    5
4    3
5    5
6    1
7    2
8    6
9    1
dtype: int64

In [86]:
s.value_counts()

5    3
1    3
3    2
6    1
2    1
dtype: int64

#### Agrupar dataframes
Pandas proporciona varias facilidades para combinar fácilmente los objetos Series, DataFrame y Panel con varios tipos de lógica de conjunto para los índices y la funcionalidad de álgebra relacional en el caso de operaciones de join / merge

In [87]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.127023 -1.077210 -1.495688  0.296253
1  0.351437 -0.628223 -0.167878 -0.741920
2  1.337147  1.527646 -1.736480 -0.086348
3 -0.035537  0.462223  1.195604  0.858935
4 -2.458707  0.896013 -0.382886 -0.508811
5  0.014639  0.187263  1.225029 -0.066607
6 -0.661612 -0.375580  0.397379  1.281453
7 -0.312275 -0.213588  2.548251  1.172080
8 -0.729266 -0.483419  0.720790  0.541362
9  1.181290  0.606431  0.645601  0.201969

In [89]:
print(f'{df}\n\n')
pieces = [df[:3], df[3:7], df[7:]]
pieces

          0         1         2         3
0  0.127023 -1.077210 -1.495688  0.296253
1  0.351437 -0.628223 -0.167878 -0.741920
2  1.337147  1.527646 -1.736480 -0.086348
3 -0.035537  0.462223  1.195604  0.858935
4 -2.458707  0.896013 -0.382886 -0.508811
5  0.014639  0.187263  1.225029 -0.066607
6 -0.661612 -0.375580  0.397379  1.281453
7 -0.312275 -0.213588  2.548251  1.172080
8 -0.729266 -0.483419  0.720790  0.541362
9  1.181290  0.606431  0.645601  0.201969

[          0         1         2         3
 0  0.127023 -1.077210 -1.495688  0.296253
 1  0.351437 -0.628223 -0.167878 -0.741920
 2  1.337147  1.527646 -1.736480 -0.086348,
           0         1         2         3
 3 -0.035537  0.462223  1.195604  0.858935
 4 -2.458707  0.896013 -0.382886 -0.508811
 5  0.014639  0.187263  1.225029 -0.066607
 6 -0.661612 -0.375580  0.397379  1.281453,
           0         1         2         3
 7 -0.312275 -0.213588  2.548251  1.172080
 8 -0.729266 -0.483419  0.720790  0.541362
 9  1.181290  0.606431  0.645601  0.201969]

In [90]:
print(f'{pieces}\n\n')
pd.concat(pieces)

[          0         1         2         3
0  0.127023 -1.077210 -1.495688  0.296253
1  0.351437 -0.628223 -0.167878 -0.741920
2  1.337147  1.527646 -1.736480 -0.086348,           0         1         2         3
3 -0.035537  0.462223  1.195604  0.858935
4 -2.458707  0.896013 -0.382886 -0.508811
5  0.014639  0.187263  1.225029 -0.066607
6 -0.661612 -0.375580  0.397379  1.281453,           0         1         2         3
7 -0.312275 -0.213588  2.548251  1.172080
8 -0.729266 -0.483419  0.720790  0.541362
9  1.181290  0.606431  0.645601  0.201969]

          0         1         2         3
0  0.127023 -1.077210 -1.495688  0.296253
1  0.351437 -0.628223 -0.167878 -0.741920
2  1.337147  1.527646 -1.736480 -0.086348
3 -0.035537  0.462223  1.195604  0.858935
4 -2.458707  0.896013 -0.382886 -0.508811
5  0.014639  0.187263  1.225029 -0.066607
6 -0.661612 -0.375580  0.397379  1.281453
7 -0.312275 -0.213588  2.548251  1.172080
8 -0.729266 -0.483419  0.720790  0.541362
9  1.181290  0.606431  0.645601  0.201969

In [92]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print(f'{left} \n\n')
print(right)

   key  lval
0  foo     1
1  bar     2


   key  rval
0  foo     4
1  bar     5

In [93]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [94]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -0.548861 -0.111712  0.402420  0.310770
1 -0.641012  0.881862  0.340285 -0.051068
2 -2.833875 -0.428328 -0.105955  2.491200
3  0.999763  0.664696 -2.579138 -0.862724
4  1.085667  0.827074  0.860993 -2.288346
5 -1.286304 -0.212147  0.592805  1.131484
6  1.141034  0.601052  0.496447 -0.461918
7  0.648167  1.055235 -1.048979  0.103533

In [95]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.548861 -0.111712  0.402420  0.310770
1 -0.641012  0.881862  0.340285 -0.051068
2 -2.833875 -0.428328 -0.105955  2.491200
3  0.999763  0.664696 -2.579138 -0.862724
4  1.085667  0.827074  0.860993 -2.288346
5 -1.286304 -0.212147  0.592805  1.131484
6  1.141034  0.601052  0.496447 -0.461918
7  0.648167  1.055235 -1.048979  0.103533
8  0.999763  0.664696 -2.579138 -0.862724

#### Group by

In [96]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one -0.501056 -2.924574
1  bar    one -0.549976  0.017807
2  foo    two  1.014823  0.018131
3  bar  three  0.733106  1.056786
4  foo    two  0.004953  1.806528
5  bar    two -1.631980  1.502073
6  foo    one  1.494127 -0.304147
7  foo  three -0.589815 -0.690538

In [97]:
print(f'{df}\n\n')
df.groupby('A').sum()

     A      B         C         D
0  foo    one -0.501056 -2.924574
1  bar    one -0.549976  0.017807
2  foo    two  1.014823  0.018131
3  bar  three  0.733106  1.056786
4  foo    two  0.004953  1.806528
5  bar    two -1.631980  1.502073
6  foo    one  1.494127 -0.304147
7  foo  three -0.589815 -0.690538

            C         D
A
bar -1.448851  2.576665
foo  1.423032 -2.094600

In [98]:
print(f'{df}\n\n')
df.groupby(['A', 'B']).sum()

     A      B         C         D
0  foo    one -0.501056 -2.924574
1  bar    one -0.549976  0.017807
2  foo    two  1.014823  0.018131
3  bar  three  0.733106  1.056786
4  foo    two  0.004953  1.806528
5  bar    two -1.631980  1.502073
6  foo    one  1.494127 -0.304147
7  foo  three -0.589815 -0.690538

                  C         D
A   B
bar one   -0.549976  0.017807
    three  0.733106  1.056786
    two   -1.631980  1.502073
foo one    0.993071 -3.228722
    three -0.589815 -0.690538
    two    1.019776  1.824660