# [HR-Employee-Attrition](https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset)

<a href="https://www.indusnet.co.in/what-are-predictive-metrics-and-how-can-it-help-you-predict-employee-turnover/"><img src="../images/hr_attrition.jpg"></a>

Uncover the factors that lead to employee attrition and explore important questions such as ‘show me a breakdown of distance from home by job role and attrition’ or ‘compare average monthly income by education and attrition’. This is a fictional data set created by IBM data scientists.
- `Education`: 1 'Below College' 2 'College' 3 'Bachelor' 4 'Master' 5 'Doctor'
- `EnvironmentSatisfaction`: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'
- `JobInvolvement`: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'
- `JobSatisfaction`: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'
- `PerformanceRating`: 1 'Low' 2 'Good' 3 'Excellent' 4 'Outstanding'
- `RelationshipSatisfaction`: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'
- `WorkLifeBalance`: 1 'Bad' 2 'Good' 3 'Better' 4 'Best'

# Análisis exploratorio de los datos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = None

In [2]:
# Load data from a csv file
df = pd.read_csv('../datasets/WA_Fn-UseC_-HR-Employee-Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

### Desbalanceo de las clases

### Visualización de los datos

## Preprocesamiento

### Valores nulos

### Datos categóricos

## Selección de variables

# Entrenando los modelos

## Logistic Regression

## Naïve Bayes

## Decision tree

## Random forest

## Support Vector Machine

## K Nearest Neighbors

# Predicción