In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df=pd.DataFrame({'x_data': range(1,21), 'y_data': np.random.randn(20), 'z_data': np.random.randint(100, size=20)})
df.head()

   x_data    y_data  z_data
0       1 -0.035288      67
1       2  1.502120      74
2       3  0.934306      36
3       4  0.060868      51
4       5  1.365584      70